# =========================
# macOS
# =========================
.DS_Store

# =========================
# dbt
# =========================
target/
logs/
dbt_packages/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/settings.json

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/